.select {
	&-hide {
		display: none;
	}
	&-show {
		display: block;
	}

	&-shell {
		margin-bottom: 20px;
		position: relative;

		&.select-closed {
			.select-shell__dropdown {
				display: none;
			}

			.select-shell__value {
				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}

		&__item {
			display: none;
		}
		&__value {
			padding: 10px 30px 10px 10px;
			background: #fff;
			box-shadow: 0 0 5px #ccc;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;

			&:before,
			&:after {

				content: '';
				position: absolute;
				width: 7px;
				height: 2px;
				display: block;
				right: 15px;
				top: 50%;
				margin-top: -1px;
				background: #323232;
				transition: all 0.3s ease;
			}

			&:before {
				margin-right: -2px;
				transform: rotate(-45deg);
			}

			&:after {
				margin-right: -6px;
				transform: rotate(45deg);
			}

		}
		&__input {
			padding: 10px;

			input {
				box-sizing: border-box;
				width: 100%;
				padding: 5px 10px;
			}
		}
		&__dropdown {
			position: absolute;
			top: 100%;
			background: #fff;
			box-shadow: 0 0 5px #ccc;
			z-index: 1;
			width: 100%;
			left: 0;
			box-sizing: border-box;
		}
		&__list {

			max-height: 200px;
			overflow: auto;
		}
		&__list-item {
			padding: 5px 10px;

			&:not(.disabled) {
				cursor: pointer;
				&:hover {
					background-color: #0a78ff;
				}
			}

			&.selected {
				background-color: #ff692f;
			}

			&.disabled {
				color: #ccc;
			}

		}
	}
}